
Dataset/data_batch_3

Dataset/data_batch_2
Dataset/data_batch_1
Dataset/data_batch_4
Dataset/data_batch_5
Dataset/readme.html
Dataset/test_batch
pruebas.pth
testing.py
testing.py
testing.py
testing.py
